:root{
  --brown: #453F40;

}

body, html{
  
  margin-top: 25px;
  height: 100%;

}
h1{
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 60px;
  flex-wrap: wrap;
  width:25%;
  margin-left: 50px;
  color:rgb(0, 0, 0);
  padding-top: 50px;
  margin-top: 75px;
  /*border: lawngreen solid 2px;*/
}
header{
  display: flex;
  justify-content: space-between;
  position: relative;
  top:12px;
  width: 90%;
  z-index: 1;
  /*border-top: rgb(149, 0, 87) 4px solid;*/
  /*border: tomato 2px solid;*/

}
.nav{
  display: flex;
  justify-content:space-between;
  margin-bottom: 70px;
  z-index: 1;
  list-style: none;
  color: rgb(0, 0, 0);
  
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 25px;
  width: 95%;
  position: absolute;
  top: -10px;
  

  background-color: yellow;
}
.nav li{
  margin-bottom: 0px;
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.triangle-down {
  width: 75px;
  height: 0;
  position: absolute;
  top: 161px;
  left: 0px;
  right: 0;
  border-right: 285px solid transparent;
  border-bottom: 190px solid var(--brown);
  z-index: -1;
}
.triangle-up {
  width: 0%;
  height: 0;
  border-right: 305px solid transparent;
  border-bottom: 195px solid rgb(200, 200, 200);
  z-index: -1;
  position:absolute;
  top: 175px;
  left: 5;
  margin-top: 30px;
  
}
.tri{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  

}
.titles{
    margin-top: -55px;
}
.rec{
  background-color: rgb(200, 200, 200);
  height: 100px;
  width: 305px;
  position: absolute;
  top: 195px;
}
.statementRec{
  background-color: rgb(200, 200, 200);
  height: 500px;
  width: 305px;
  margin-top: 50px;
 
}

.rec p{
  margin-left:40px;
  font-family: muli, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 28px;
  margin-bottom: -20px;
  line-height: 1.3;
}
.statementRec p{
  font-size: 17px;
  padding: 40px;
  padding-top: 0;
  text-align: left;
  margin: 0;
}
.h2About{

}
h2{
  margin-left:40px;
  padding-top: 20px;
  font-family: muli, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 30px;
 
}
.top{
  margin-bottom: 150px;
}
.yellow {
  height: 1075px;
  width: auto;
  z-index: 99;
  position: relative;
  left: -2px;
  top: -20px;
 
}
.tools{
  height: 120px;
  width: auto;
  margin-left: 45px;
  margin-top: 85px;
  
}
.mainPage{
  width: 100%;
  color: white;
  margin-top: -560px;
  
  position: absolute;
 height: 1600px;
 display: flex;
  background-color: var(--brown);
  border-bottom: 120px solid grey;
  flex-grow: 1;
}

.filler{
  width: 40%;
  background-color: red;
  z-index: 1;
  height: 100%

}
.page{ 
  border-top: 185px solid rgb(200, 200, 200);
  
  width: 100%;
  height: 100vh;
 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-items: center;
}
.pageAbout{ 
  border-top: 185px solid rgb(200, 200, 200);

  width: 100%;
  height: 1035px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.contactPage{
  border-top: 185px solid rgb(200, 200, 200);

  
  height: 1035px;
  display: flex;
    justify-content: center;
  
}
.contactPage form{
  margin-top: 125px;
}
.container{
  margin-top: 100px;
  width: 60%;
}
.containerRes{
       margin-top: 125px;


  }
  .containerRes h2{
       margin-left: 0px;


  }
.contact{
  
  
  
}
.messageText{
  width: 75%;
  height: 200px;
  min-width: 450px;
}

.message{
  margin-top: 100px;
}
.contact h2{
  margin-left: 0px;
  
}
.page div{
  
  margin-bottom: 100px;
 
}
.error{
  margin-left: 400px;

}
.pageAbout div{
  
  margin-bottom: 100px;
 
}
.content{
  margin-top: 200px;
  width: 100%;
  
}
.content button{
  margin-top: 15px;
  height: 40px;
  width: 100px;
  background-color: rgb(0, 0, 0);
  outline: none;
  border-style: none;
  color: white;
}

.page p{

  width: 60%;
  text-align: left;
  margin-left: 400px;
  line-height: 1.5;
  
}
.pageAbout p{

  width: 60%;
  text-align: left;
  
  line-height: 1.5;
  margin-top: 75px;

}
.small-tri-up {
  width: 0; 
  height: 0; 
  border-right: 25px solid transparent;
  border-top: 25px solid var(--brown);
  position: absolute;
  top:48px;
  margin-top: 288px;
}
input{
  width: 300px;
  height: 30px;
}

.portfolio{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*border: yellowgreen 2px solid;*/
  width: 100%;
  margin-left: 0px;
  margin-top: 30px;
}
.portfolio img{
  width: 300px;
  height: 300px;
  margin: 10px;
  /*opacity: .85;*/
}


.nav li:hover {
  color: rgb(156, 156, 156);
}
.portDiv{
  display: flex;
  flex-direction: column;
  align-content: flex-start;

  
}
.git{
  margin-top: -15px;
}
a{
  color: white;
  text-decoration: none;
  border-bottom: none;
}
h3{
 
  
}
.portfolio h4{
  margin-top: 10px;
}
.skills{
  display: flex;
  margin-top: 100px;
  
}
.skills li{
  padding-left: 20px;
  
  padding-bottom: 40px;
}
.skills h3{
  width:100%;
  margin-bottom: 65px;
}
.skills div{
  margin-right: 200px;
}
.footer img {
height: 75px;
width: auto;
opacity: .5;
/*border: violet 2px solid;*/
}
.footer img:hover{
  opacity: 1;
}

.footer{
  width: 200px;
  position: absolute;
  top: 1590px;  display: flex;
  justify-content: space-between;
  left: 45%;
  
}

body::-webkit-scrollbar {
  width: 10px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(207, 207, 206);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color:rgb(155, 155, 155);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}
.portfolio h2{
  margin-left: -90px;
  margin-top: -430px;
}
.active{
  background-color: rgb(117, 117, 117);
  height: auto;
  color: white;
  padding: 15px;
  padding-top: 6px;
  
  
}
.profile{
  
  border-radius: 75px;
}
.mainPage{
  min-width: 760px;
  
}
.nav{
  min-width: 600px;
}
.links{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 15px;
  margin-left: 10px;
}
@media only screen and (max-width: 900px) {
  
  .skills{
   flex-direction: column;
   justify-content: flex-start;
  }
  .skills div{
    margin-bottom: 0px
  }
  .skills li{
    width: 100%;
    padding-bottom: 20px;
  }
  .mainPage{
   
    height: 1600px;
  }
  h1{
    font-size: 50px;
    margin-left: 50px;
    padding-top: 50px;
  margin-top: 75px;
  margin-bottom: 74px;

  }
  .container {
  }
  .footer{
    width: 200px;
    position: absolute;
  top: 1590px;
    display: flex;
    justify-content: space-between;
    left: 45%;
    
  }
  input{
    width: 75%;
    
  }
 
}

@media only screen and (max-width: 1125px) {

  
  .skills div{
   width: 55%;
  }

  .nav{
   
    top: -5px;
    width: 99%;
  }
 
  .nav li{ 
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
 

 
  
  .skills{
    margin-top:50px;
  }

}
@media only screen and (max-width: 1250px) {

.portfolio{
  display: flex;
  flex-direction: column;
 
  margin-top: 450px;
 
 
}

.portfolio div{
  margin-bottom: 18px;
}
.portfolio img{
  width: 200px;
  height: 200px;
  
}

}
@media only screen and (max-width: 1400px) {


}
@media only screen and (max-width: 1500px) {
 
}
